<!DOCTYPE html>
<html>

<head>
  <title>Edit post</title>
</head>

<body>
    <h1>Create new post</h1>

    <form action="/edit/{{ post.id }}" method="POST">
    <p>
        Title: <br />
        <input type="text" name="title" value="{{ post.title }}" />
    </p>
    <p>
        Language: <br />
        <input type="text" name="languages" value = "{{ post.languages }}" />
    </p>
    <p>
        Date and time: <br />
        <input type="datetime-local" name="date_time" value = "{{ post.date_time }}" /> 
    </p>
    <p>
        Location: <br />
        <input type="text" name="venue" value = "{{ post.venue }}"/>
    </p>
    <p>
        Target participant amount: <br />
        <input type="number" name="avail_slot" min="5" value = "{{ post.avail_slot }}" />
    </p>
    <p>
        Post content: <br />
        <textarea name="content" rows="5" cols="40">{{ post.content }}</textarea>
    </p>
    <input type="submit" value="Confirm edit" />
    </form>

</body>

</html>