<!DOCTYPE html>
<html>

<head>
  <title>Edit post</title>
</head>

<body>
    <h1>Edit post</h1>

    <form action="/edit/{{ meetup.id }}" method="POST">
    <p>
        Title: <br />
        <input type="text" name="title" value="{{ meetup.title }}" maxlength="100" required />
    </p>
    <p>
        <label for="classlang">Language</label>: <br />
        <select name="classes" id="classlang">
            <option value="">(choose)</option>
        {% for option in all_classes['Language'] %}
            {% if option == classes['Language'] %}
                <option value="Language:{{ option }}" selected>{{ option }}</option>
            {% else %}
                <option value="Language:{{ option }}">{{ option }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </p>
    <p>
        <label for="classlevel">Suitable level</label>: <br />
        <select name="classes" id="classlevel">
            <option value="">(choose)</option>
        {% for option in all_classes['Level'] %}
            {% if option == classes['Level'] %}
                <option value="Level:{{ option }}" selected>{{ option }}</option>
            {% else %}
                <option value="Level:{{ option }}">{{ option }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </p>
    <p>
        Date and time: <br />
        <input type="datetime-local" name="date_time" value = "{{ meetup.date_time }}" required /> 
    </p>
    <p>
        Venue: <br />
        <input type="text" name="venue" value = "{{ meetup.venue }}" maxlength="100" required/>
    </p>
    <p>
        <label for="classcity">City</label>: <br />
        <select name="classes" id="classcity" required>
            <option value="">(choose)</option>
        {% for option in all_classes['City'] %}
            {% if option == classes['City'] %}
                <option value="City:{{ option }}" selected>{{ option }}</option>
            {% else %}
                <option value="City:{{ option }}">{{ option }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </p>
    <p>
        Target participant amount: <br />
        <input type="number" name="avail_slot" min="5" max="50" value = "{{ meetup.avail_slot }}" />
    </p>
    <p>
        Post content: <br />
        <textarea name="content" rows="5" cols="40" maxlength = "5000">{{ meetup.content }}</textarea>
    </p>
    <input type="submit" value="Confirm edit" />
    </form>

</body>

</html>