<!DOCTYPE html>
<html>

<head>
  <title>Speaking club</title>
</head>

<body>
  <h1>Welcome to speaking club!</h1>
  
  <p>
    {% if session.user_id %}
    <a href="/logout">Log out</a> | 
    <a href="/new_post">Create new post</a>
    {% else %}
    <a href="/register">Create an account</a> | 
    <a href="/login">Log in</a>
    {% endif %}
    | <a href="/search">Search by keyword</a>
  </p>

  <hr />
  {% for meetup in meetups %}
  <p>
    <a href="/meetup/{{ meetup.id }}">{{ meetup.title }}</a>
    <br />
    Language: {{ meetup.languages }} , {{ meetup.avail_slot }} places available
    <br />
    {{ meetup.date_time }}, venue: {{ meetup.venue }}
  </p>
  <hr />
  {% endfor %}

</body>

</html>