<!DOCTYPE html>
<html>

<head>
  <title>{{ meetup.title }}</title>
</head>

<body>
  <h1>{{ meetup.title }}</h1>

  <hr />
  <p>
    Host: <a href="/user/{{ meetup.host_id }}">{{ meetup.username }}</a>
  </p>
  <p>
    {{ meetup.content }}
  </p>
  <ul>
    <li>Time: {{ meetup.date_time }}</li>
    <li>Venue: {{ meetup.venue }}</li>
    {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
    {% endfor %}
    {% if meetup.avail_slot %}
    <li>Available slots: {{meetup.avail_slot}}</li>
    {% endif %}
  </ul>

  <p>
    {% if session.user_id and session.user_id != meetup.host_id and meetup.id not in attending_meetups %}
    <a href="/attending/{{ meetup.id }}">Attending meetup</a>
    {% elif not session.user_id %}
    <a href="/login">Log in to attend meetup</a> <br />
    Does not have an account? <a href="/register">Create an account</a>
    {% endif %}
  </p>

  <p>
    {% if session.user_id and session.user_id == meetup.host_id %}
    <a href="/edit/{{ meetup.id }}">Edit post</a> | 
    <a href="/remove/{{ meetup.id }}">Remove post</a> <br />
  </p>
  <p>
    <a href="/participants/meetup/{{ meetup.id }}">List of participants</a>
    {% endif %}
  </p>

  <p>
    <a href="/">To the front page</a>
  </p>
</body>

</html>
