<!DOCTYPE html>
<html>

<head>
  <title>{{ post.title }}</title>
</head>

<body>
  <h1>{{ post.title }}</h1>

  <hr />
  <p>
    Host: {{ post.username }}
  </p>
  <p>
    {{ post.content }}
  </p>
  <p>
    Time: {{ post.date_time }}
    <br />
    Location: {{ post.venue }}
    <br />
    Language: {{ post.languages }}
  </p>

  <p>
    <a href="/">To the front page</a>
  </p>
  <p>
    {% if session.user_id and session.user_id == post.host_id %}
    <a href="/edit/{{post.id}}">Edit post</a> | 
    <a href="/remove/{{post.id}}">Remove post</a>
    {% endif %}
  </p>
</body>

</html>
