<!DOCTYPE html>
<html>

<head>
  <title>User {{ user.username }}</title>
</head>

<body>
    <h1>User {{ user.username }}</h1>

    {% if user.has_image %}
    <img src="/image/{{ user.id }}">
    {% endif %}

    {% if session.user_id == user.id %}
    <p>
        <a href="/add_image">Lisää profiilikuva</a>
    </p>
    {% endif %}
    <p>
        User has hosted {{ host_events | count}}
        {% if host_events | count == 1 %}
            meetup
        {% else %}
            meetups
        {% endif %} 

        and participated in {{ attending_events | count}}

        {% if attending_events | count == 1 %}
            meetup
        {% else %}
            meetups
        {% endif %}
    </p>

    <h2>Hosted events</h2>
    <ul>
    {% for event in host_events %}
        <li>
            <a href="/meetup/{{ event.id }}">
                {{ event.title }}
            </a>
            <br />
            Time: {{ event.date_time }}
        </li>
    {% endfor %}
    </ul>

    <h2>Participated events</h2>
    <ul>
    {% for event in attending_events %}
        <li>
            <a href="/meetup/{{ event.id }}">
                {{ event.title }}
            </a>
            <br />
            Hosted by <a href="/user/{{ event.host_id }}">{{ event.username}}</a> 
             | Time: {{ event.date_time }}
        </li>
    {% endfor %}
    </ul>
</body>
</html>