<!DOCTYPE html>
<html>

<head>
  <title>User {{ user.username }}</title>
</head>

<body>
    <h1>User {{ user.username }}</h1>

    <p>
        User has hosted {{ host_events | count}} meetups and participated in {{ attending_events | count}} meetups
    </p>

    <h2>Hosted events</h2>
    <ul>
    {% for event in host_events %}
        <li>
            <a href="/meetup/{{ event.id }}">
                {{ event.title }}
            </a>
            <br />
            Language: {{ event.language }}, time: {{ event.date_time }}
        </li>
    {% endfor %}
    </ul>

    <h2>Participated events</h2>
    <ul>
    {% for event in attending_events %}
        <li>
            <a href="/meetup/{{ event.id }}">
                {{ event.title }}
            </a>
            <br />
            Hosted by <a href="/user/{{ event.host_id }}">
                {{ event.username }}
            </a>
            Language: {{ event.language }}, time: {{ event.date_time }}
        </li>
    {% endfor %}
    </ul>
</body>
</html>